<div class="container">
    <main>
        <h1>As-tu le profil?</h1>
        <!--<div class="contenuInteractif">
            <p class='progression'></p>
            <p class='retro'></p>
            <p class='explication'></p>
        </div>-->
        <div class="col-sm-6">
            {% for i in 0..9 %}
            <h4>{{ xml[i]['texteQuestion'] }}</h4>
            {% endfor %}
        </div>
        <div class="col-sm-6">
            <form name="quiz_bon_profil" action="#" method="POST">
                {% for i in 0..9 %}
                    <fieldset id="Q{{ i + 1 }}">
                        <ul class="choixReponses">
                            {% for j in 0..3 %}
                                <li>
                                    <input id="Q{{ i }}{{ tId[j] }}" type="radio" name="Q{{ j + 1 }}" value="0">
                                    <label for="Q{{ i }}{{ tId[j] }}">{{ xml[i]['texteReponse'][j] }}</label>
                                </li>
                            {% endfor %}
                        </ul>
                    </fieldset>
                {% endfor %}
                <br /><br />
            </form>
        </div>
        {% for i in 0..2 %}
            <p>{{ xmlR[i]['commentaire'] }}</p>
            <p>{{ xmlR[i]['min'] }}</p>
            <p>{{ xmlR[i]['max'] }}</p>
            <br />
        {% endfor %}
    </main>
</div>