{# Intégration du layout de base #}
{% extends 'layout.html.twig' %}


{% block content %}
    <div class="diplomes">

        <section id="hero-section">
            <div class="container_page">
                <div class="hero-image-center col-sm-12">
                    <h1 class="hero_title" id="h1-no-width">{{ page }}</h1>
                </div>
            </div>
        </section>
        <div class="container-fluid borderBox">
            <div class="col-sm-12">
                <section id="texte_intro">
                    <div class="container_page">
                        {{ texteIntro | raw }}
                        {% if erreur != false %}
                            <p>{{ erreur | raw }}</p>
                        {% else %}
                            <div id="tri_interets">
                                <h2>Trier les diplômés par intérêts</h2>
                                <hr class="title-underline">
                                <ul class="liste_tri col-xs-12 col-md-10">
                                    <li><a class="btn_tri blue-btn gestion" id="interet_gestion_projet"
                                           href="diplomes/interet_gestion_projet">Gestion</a></li>
                                    <li><a class="btn_tri blue-btn design" id="interet_design_interface"
                                           href="diplomes/interet_design_interface">Design</a></li>
                                    <li><a class="btn_tri blue-btn medias" id="interet_traitement_medias"
                                           href="diplomes/interet_traitement_medias">Traitement des médias</a></li>
                                    <li><a class="btn_tri blue-btn integration" id="interet_integration"
                                           href="diplomes/interet_integration">Intégration</a></li>
                                    <li><a class="btn_tri blue-btn programmation" id="interet_programmation"
                                           href="diplomes/interet_programmation">Programmation</a></li>
                                    <li><a href="diplomes" id="btn_reset_tri" class="btn_tri blue-btn btn_reset">Réinitialiser
                                            <i class="fa fa-refresh" aria-hidden="true"></i><span
                                                    class="back_slant"></span></a></li>
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </section>
                {% if erreur == false %}
                    <section id="diplomes_galerie">
                        <div class="container_page">
                            <ul id="liste_diplomes">
                                {% for arrDiplomes in diplomes %}
                                    <li class="col-xxs-12 col-xs-6 col-sm-6 col-md-4">
                                        <a href="diplomes/fiche-etudiant/{{ arrDiplomes.slug }}">
                                            <img src="dist/images/diplomes/{{ arrDiplomes.id }}.png"
                                                 alt="{{ arrDiplomes.prenom }} {{ arrDiplomes.nom }}"/>

                                            <h2 class="nom">{{ arrDiplomes.prenom }}<span>{{ arrDiplomes.nom }}</span>
                                            </h2>
                                            <span class="voir">
                                            Voir la fiche</span>

                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </section>
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}