<head>
    <meta charset="utf-8"/>
    <title>{{ title }}</title>
</head>
<body>
<h1>ÉQUIPE</h1>
{% for valeur in arrTextes %}
    <h2>{{ valeur['titre'] }}</h2>
    {{ valeur['paragraphe'] | raw }}
{% endfor %}
<div class="conteneur_enseignants">
    {% for valeur in arrProfs %}
        <div class="contenu_enseignant">
            <img src="dist/images/photo_enseignants/{{ valeur['nom'] | lower }}.png"
                 alt="{{ valeur['prenom'] }} {{ valeur['nom'] }}"/>
            <hr>
            <span>{{ valeur['prenom'] }} {{ valeur['nom'] }}</span>
            <p>{{ valeur['courriel'] }} {{ valeur['pseudo'] }} {{ valeur['linkedin'] }} {{ valeur['site'] }}</p>
        </div>
    {% endfor %}
</div>
</body>
