{# Intégration du layout de base #}
{% extends 'layout.html.twig' %}

{% block content %}
    <div id="hero-section">
        <div class="container">
            <div class="hero-image col-sm-12">


                <h1 id="h1-no-width">{{ page }}</h1>

            </div>
        </div>
    </div>
    <div class="container equipe">

        {% for valeur in arrTextes %}
            <h2>{{ valeur['titre'] }}</h2>
            <hr class="title-underline">
            {{ valeur['paragraphe'] | raw }}
        {% endfor %}
        <div class="conteneur_enseignants">
            {% for valeur in arrProfs %}
                <div class="col-sm-4">
                    <div class="contenu_enseignant">
                        <img class="photo_prof"
                             src="dist/images/photo_enseignants/enseignant_{{ valeur['id_prof'] }}.png"
                             alt="{{ valeur['prenom'] }} {{ valeur['nom']}}"/>
                        <hr class="trait_decoratif">
                        <div class="contenu_prof">
                            <span class="nom_prof">{{ valeur['prenom'] }}<br/>{{ valeur['nom'] | upper  }}</span>
                            <div class="conteneur_sociaux">
                                <ul class="liste_reseaux_sociaux">
                                    {% if valeur['courriel'] is not null %}
                                        <li><a  class="blue-btn" target="_blank" href="../public/nous_joindre/index.php?courriel={{ valeur['courriel'] }}"><img src="dist/images/sociaux/mail.png"
                                                                                    alt="Courriel"/><span class="back_slant"></span></a></li>
                                    {% endif %}
                                    {% if valeur['pseudo'] is not null %}
                                        <li><a  class="blue-btn" target="_blank" href="https://twitter.com/{{ valeur['pseudo'] }}"><img src="dist/images/sociaux/twitter.png"
                                                                                  alt="Twitter"/><span class="back_slant"></span></a></li>
                                    {% endif %}
                                    {% if valeur['linkedin'] is not null %}
                                        <li><a  class="blue-btn" target="_blank" href="{{ valeur['linkedin'] }}"><img src="dist/images/sociaux/linkedin.png"
                                                                                    alt="Linkedin"/><span class="back_slant"></span></a></li>
                                    {% endif %}
                                    {% if valeur['site'] is not null %}
                                        <li><a  class="blue-btn" target="_blank" href="{{ valeur['site'] }}"><img src="dist/images/sociaux/internet.png"
                                                                                alt="Internet"/><span class="back_slant"></span></a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}
