<main>
    {% if texteErreurFiche == false %}
        <section class="haut_page">

            <h1 id="contenu">{{ page | raw }}</h1>
            <span class='retour_precedent'><a href="diplomes/index.php{% if tri_interets %}?tri_interets={{ tri_interets }}{% endif %}">retour vers la liste des diplômés</a></span>

            <ul class="etudiant_contact">
                {% if arrInfos.courriel != "" %}
                    <li><a href="mailto:{{ arrInfos.courriel }}">Courriel</a></li>
                {% endif %}
                {% if arrInfos.twitter != "" %}
                    <li><a href="https://twitter.com/{{ arrInfos.twitter }}" target="_blank">Twitter</a></li>
                {% endif %}
                {% if arrInfos.linkedin != "" %}
                    <li><a href="{{ arrInfos.linkedin }}" target="_blank">Linkedin</a></li>
                {% endif %}
                {% if arrInfos.site_web != "" %}
                    <li><a href="{{ arrInfos.site_web }}" target="_blank">Site web</a></li>
                {% endif %}
            </ul>
        </section>
        <section class="texte_intro">
            <div class="profil">
                <h2>Profil</h2>
                {{ arrInfos.profil | raw }}
            </div>
            <div class="forces">
                <h2>Forces</h2>
                {{ arrInfos.forces | raw }}
            </div>
            <div class="interets">
                <h2>Intérêts</h2>
                <ul class="liste_intrerets">
                    <li>
                        <div class="barre_progression clearfix " data-percent="{{ arrInfos.interet_gestion }}0%">
                            <span class='interet_titre'><span class="libelle">Gestion</span></span>
                            <span class="barre_interet"></span>

                        </div>
                        <span class="pourcentage">{{ arrInfos.interet_gestion }}</span>
                    </li>
                    <li>
                        <div class="barre_progression clearfix " data-percent="{{ arrInfos.interet_design }}0%">
                            <span class='interet_titre '><span class="libelle">Design</span></span>
                            <span class="barre_interet"></span>
                            <span class="pourcentage">{{ arrInfos.interet_design }}</span>
                        </div>
                    </li>
                    <li>
                        <div class="barre_progression clearfix " data-percent="{{ arrInfos.interet_traitement }}0%">
                            <span class='interet_titre '><span class="libelle">Traitement des médias</span></span>
                            <span class="barre_interet"></span>
                            <span class="pourcentage">{{ arrInfos.interet_traitement }}</span>
                        </div>
                    </li>
                    <li>
                        <div class="barre_progression clearfix " data-percent="{{ arrInfos.interet_programmation }}0%">
                            <span class='interet_titre '><span class="libelle">Programmation</span></span>
                            <span class="barre_interet"></span>
                            <span class="pourcentage">{{ arrInfos.interet_programmation }}</span>
                        </div>
                    </li>
                    <li>
                        <div class="barre_progression clearfix " data-percent="{{ arrInfos.interet_integration }}0%">
                            <span class='interet_titre '><span class="libelle">Intégration</span></span>
                            <span class="barre_interet"></span>
                            <span class="pourcentage">{{ arrInfos.interet_integration }}</span>
                        </div>
                    </li>
                </ul>

            </div>
        </section>
        <section>
            <div class="projets_etudiant">
                <h2>Projets</h2>
                {{ texteErreurProjets | raw }}
                {% if texteErreurProjets == false %}
                    <ul>
                        {% for projet in arrProjets %}
                            <li>
                                <a href="diplomes/fiche_projet/index.php?slug={{ projet.slug }}">
                                    <div class="img_projet">
                                        <picture>
                                            <!--<source media="" srcset="../images/projets/prj408_01-mobile.jpg 1x, ../images/projets/prj408_01-mobile@2x.jpg 2x">
                                            <source media="(min-width: 800px)" srcset="../images/projets/prj408_01-table.jpg 1x, ../images/projets/prj408_01-table@2x.jpg 2x">-->
                                            <img src="dist/images/projets/prj{{ projet.id }}_01.jpg" alt="{{ projet.titre }}">
                                        </picture>
                                    </div>
                                    <span class="titre_projet">{{ projet.titre }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    {{ texteErreurProjet | raw }}
                {% endif %}

            </div>
        </section>
    {% else %}
        {{ texteErreurFiche | raw }}
    {% endif %}
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="assets/scripts/skillbar.js"></script>