{# Intégration du layout de base #}
{% extends 'layout.html.twig' %}


{% block content %}
    {% if texteErreurFiche == false %}
        <div class="fiche_etudiant">
        <section id="hero-section">
            <div class="hero-image col-sm-12">
                <h1 class="hero_title">{{ title | raw }}</h1>
                <span class='retour_precedent'><a href="diplomes/{% if tri_interets %}{{ tri_interets }}{% endif %}">retour vers la liste des diplômés</a></span>

                <ul class="etudiant_contact">
                    {% if arrInfos.courriel != "" %}
                        <li><a href="nous-joindre/diplome&{{ arrInfos.slug }}"><i class="fa fa-envelope"
                                                                                  title="Courriel"></i></a></li>
                    {% endif %}
                    {% if arrInfos.twitter != "" %}
                        <li><a href="https://twitter.com/{{ arrInfos.twitter }}" target="_blank"><i
                                        class="fa fa-twitter" title="Twitter"></i></a></li>
                    {% endif %}
                    {% if arrInfos.linkedin != "" %}
                        <li><a href="{{ arrInfos.linkedin }}" target="_blank"><i class="fa fa-linkedin"
                                                                                 title="LinkedIn"></i></a></li>
                    {% endif %}
                    {% if arrInfos.site_web != "" %}
                        <li><a href="{{ arrInfos.site_web }}" target="_blank"><i class="fa fa-globe"
                                                                                 title="Site web"></i></a></li>
                    {% endif %}
                </ul>
            </div>


        </section>
        <div class="container-fluid borderBox" id="contenu">
            <section class="col-sm-12 col-md-6">
                <div id="profil">
                    <h2>Profil</h2>
                    <hr class="title-underline">
                    {{ arrInfos.profil | raw }}
                </div>
                <div id="forces">
                    <h2>Forces</h2>
                    <hr class="title-underline">
                    {{ arrInfos.forces | raw }}
                </div>
            </section>
            <section class="col-sm-12 col-md-6">
                <div id="interets" class="no-js">
                    <h2>Intérêts</h2>
                    <hr class="title-underline">
                    <ul class="liste_intrerets">
                        <li>
                            <div class="barre_progression clearfix " data-percent="{{ arrInfos.interet_gestion }}0%">
                                <span class='interet_titre'><span class="libelle">Gestion</span></span>
                                <span class="barre_interet value-{{ arrInfos.interet_gestion }}"></span>

                            </div>
                            <span class="pourcentage">{{ arrInfos.interet_gestion }}</span>
                        </li>
                        <li>
                            <div class="barre_progression clearfix " data-percent="{{ arrInfos.interet_design }}0%">
                                <span class='interet_titre '><span class="libelle">Design</span></span>
                                <span class="barre_interet value-{{ arrInfos.interet_design }}"></span>
                                <span class="pourcentage">{{ arrInfos.interet_design }}</span>
                            </div>
                        </li>
                        <li>
                            <div class="barre_progression clearfix " data-percent="{{ arrInfos.interet_traitement }}0%">
                                <span class='interet_titre '><span class="libelle">Traitement des médias</span></span>
                                <span class="barre_interet value-{{ arrInfos.interet_traitement }}"></span>
                                <span class="pourcentage">{{ arrInfos.interet_traitement }}</span>
                            </div>
                        </li>
                        <li>
                            <div class="barre_progression clearfix "
                                 data-percent="{{ arrInfos.interet_programmation }}0%">
                                <span class='interet_titre '><span class="libelle">Programmation</span></span>
                                <span class="barre_interet value-{{ arrInfos.interet_programmation }}"></span>
                                <span class="pourcentage">{{ arrInfos.interet_programmation }}</span>
                            </div>
                        </li>
                        <li>
                            <div class="barre_progression clearfix "
                                 data-percent="{{ arrInfos.interet_integration }}0%">
                                <span class='interet_titre '><span class="libelle">Intégration</span></span>
                                <span class="barre_interet value-{{ arrInfos.interet_integration }}"></span>
                                <span class="pourcentage">{{ arrInfos.interet_integration }}</span>
                            </div>
                        </li>
                    </ul>

                </div>
            </section>
            <section id="projet-section">
                <div class="projet_fiche container-fluid borderBox">
                    <h2>Projets</h2>
                    <hr class="title-underline">
                    {{ texteErreurProjets | raw }}
                    {% if texteErreurProjets == false %}
                    <div class="list-projets">
                        <ul>
                            {% for projet in arrProjets %}
                                <div class="single-projet col-sm-6">
                                    <li>

                                        <a href="diplomes/fiche-projet/{{ projet.slug }}&{{ arrInfos.id }}">
                                            <div class="img_projet"
                                                 style="background-image: url('dist/images/projets/prj{{ projet.id }}_01.jpg')">
                                                <div class="degrader_projet">
                                                    <div class="content_projet">
                                                        <h4 class="titre_projet">{{ projet.titre }}</h4>
                                                        <hr class="title-underline">
                                                        <span class="arrow"><i class="fa fa-angle-right i-space"
                                                                               title="Voir le projet"></i></span>
                                                    </div>
                                                </div>
                                            </div>

                                        </a>

                                    </li>
                                </div>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% else %}
                    {{ texteErreurProjet | raw }}
                {% endif %}
            </section>
        </div>
    {% else %}
        {{ texteErreurFiche | raw }}
    {% endif %}
    </div>
{% endblock %}