{# Intégration du layout de base #}
{% extends 'layout.html.twig' %}

{% block content %}
    <div id="hero-section">
        <div class="container">
            <div class="hero-image-center col-sm-12">


                <h1 id="h1-no-width">{{ page }}</h1>

            </div>
        </div>
    </div>
    <div class="container perspectives">
<div class="col-sm-12">
        <h2>{{ arrTextes[1]['titre'] }}</h2>
        <hr class="title-underline">
        {{ arrTextes[1]['paragraphe'] | raw }}
    <div class="stats">
        <h2>{{ arrTextes[2]['titre'] }}</h2>
        <hr class="title-underline">
        {{ arrTextes[2]['paragraphe'] | raw }}
    </div>

</div>
        <img class="imgtest" src="dist/images/anais.jpg" alt="Image d'un étudiant" />
<div class="col-sm-12 poursuite_etudes">
        <h2>{{ arrTextes[0]['titre'] }}</h2>
        <hr class="title-underline">
        {{ arrTextes[0]['paragraphe'] | raw }}
</div>
    </div>
{% endblock %}

