{# Intégration du layout de base #}
{% extends 'layout.html.twig' %}


{% block content %}
    <section class="haut_page">
        <h1 id="contenu">{{ page }}</h1>
    </section>
    <section class="texte_intro">
        {{ texteIntro | raw }}
        {% if erreur != false %}
            <p>{{ erreur | raw }}</p>
        {% else %}
            <div class="triInterets">
                <h2>Trier les diplômés par intérêts</h2>
                <a href="diplomes/index.php" id="btnResetTri" class="btnTri btnReset">Réinitialiser</a>
                <ul class="listeTri">
                    <li><a class="btnTri gestion" id="interet_gestion_projet"
                           href="diplomes/index.php?tri_interets=interet_gestion_projet">Gestion</a></li>
                    <li><a class="btnTri design" id="interet_design_interface"
                           href="diplomes/index.php?tri_interets=interet_design_interface">Design</a></li>
                    <li><a class="btnTri medias" id="interet_traitement_medias"
                           href="diplomes/index.php?tri_interets=interet_traitement_medias">Traitement des médias</a></li>
                    <li><a class="btnTri integration" id="interet_integration"
                           href="diplomes/index.php?tri_interets=interet_integration">Intégration</a></li>
                    <li><a class="btnTri programmation" id="interet_programmation"
                           href="diplomes/index.php?tri_interets=interet_programmation">Programmation</a></li>
                </ul>
            </div>
        {% endif %}
    </section>
    {% if erreur == false %}
        <section id="diplomes_galerie">
            <ul id="liste_diplomes">
                {% for arrDiplomes in diplomes %}
                    <li>
                        <a href="diplomes/fiche_etudiant/index.php?slug={{ arrDiplomes.slug }}">
                            <img src="images/{{ arrDiplomes.id }}.jpg"
                                 alt="{{ arrDiplomes.prenom }} {{ arrDiplomes.nom }}"/>
                            <h2 class="nom">{{ arrDiplomes.prenom }} <span>{{ arrDiplomes.nom }}</span></h2>
                            <div>
                                <p>Voir la fiche</p>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </section>
    {% endif %}


{% endblock%}