<a href="diplomes/index.php#contenu" class="visuallyhidden focusable">Allez au contenu</a>
<main>
    <section class="haut_page">
        <h1 id="contenu">{{ page }}</h1>
    </section>
    <section class="texte_intro">
        {{ texteIntro | raw }}
        <div class="triInterets">
            <h2>Trier les diplômés par intérêts</h2>
            <a href="#" class="btnResetTri">Réinitialiser</a>
            <ul class="listeTrie">
                <li><a class="btnTri" href="#">Gestion</a></li>
                <li><a class="btnTri" href="#">Design</a></li>
                <li><a class="btnTri" href="#">Traitement des médias</a></li>
                <li><a class="btnTri" href="#">Intégration</a></li>
                <li><a class="btnTri" href="#">Programmation</a></li>
            </ul>
        </div>
    </section>
    <section class="liste_diplomes">
    <ul>
        {% for arrDiplomes in diplomes %}
        <li>
            <a href="diplomes/fiche_etudiant?id={{ arrDiplomes.id }}">
                <img src="{{ niveau }}images/{{ arrDiplomes.slug}}.jpg" alt="{{ arrDiplomes.nom }}">
                <p class="nom">{{ arrDiplomes.prenom }} <span>{{ arrDiplomes.nom }}</span></p>
                <div>
                    <p>Voir la fiche</p>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
    </section>

</main>