<!DOCTYPE HTML>
<html lang="fr">

<body>
<main>
    <section class="haut_page">
        <h1>{{ page }}</h1>
    </section>
    <section class="texte_intro">
        {{ texteIntro | raw }}
        <div class="triInterets">
            <h2>Trier les diplômés par intérêts</h2>
            <a href="#" class="btnResetTri">Réinitialiser</a>
            <ul class="listeTrie">
                <li><a class="btnTri" href="#">Gestion</a></li>
                <li><a class="btnTri" href="#">Design</a></li>
                <li><a class="btnTri" href="#">Traitement des médias</a></li>
                <li><a class="btnTri" href="#">Intégration</a></li>
                <li><a class="btnTri" href="#">Programmation</a></li>
            </ul>
        </div>
    </section>
    <section class="liste_diplomes">
    <ul>
        {% for arrDiplomes in diplomes %}
        <li>
            <a href="#">
                <img src="{{ niveau }}images/{{ arrDiplomes.slug}}.jpg" alt="{{ arrDiplomes.nom }}">
                <p class="nom">{{ arrDiplomes.prenom }}<span>{{ arrDiplomes.nom }}</span></p>
            </a>
        </li>
        {% endfor %}
    </ul>
    </section>

</main>
</body>
</html>