<a href="diplomes/fiche_projet/index.php#contenu" class="visuallyhidden focusable">Allez au contenu</a>
<main>
    <section class="haut_page">
        <h1 id="contenu">{{ page | raw }}</h1>
        <span class='retour_fiche_etudiant'><a href="diplomes/fiche_etudiant?id={{ arrInfosEtudiant.id }}">retour vers la fiche de {{ arrInfosEtudiant.prenom ~ " " ~ arrInfosEtudiant.nom }}</a></span>
    </section>
    <section class="texte_intro_projet">
        <div class="description">
            <h2>Description</h2>
            {{ arrInfos.description | raw }}
        </div>
        <div class="participation">
            <h2>Participation</h2>
            {{ arrInfos.participation | raw }}
        </div>
        <div class="technologies_cadre">
            <h2>Technologies</h2>
            {{ arrInfos.technologies | raw }}
            <h2>Cadre</h2>
            {{ arrInfos.cadre | raw }}
        </div>
        <div class="photos_projet">
            <ul>
                {% for imagesPrj in arrImagesPrj %}

                    <li>
                        <a href="/dist/images/projets/{{ imagesPrj.src }}" title="{{ arrInfos.titre }}">
                            <picture>
                                <!--<source media="" srcset="../images/projets/prj408_01-mobile.jpg 1x, ../images/projets/prj408_01-mobile@2x.jpg 2x">
                                <source media="(min-width: 800px)" srcset="../images/projets/prj408_01-table.jpg 1x, ../images/projets/prj408_01-table@2x.jpg 2x">-->
                                <img src="dist/images/projets/{{ imagesPrj.src }}" alt="{{ imagesPrj.alt }}">
                            </picture>
                        </a>
                    </li>
                {% endfor %}

            </ul>
        </div>
        </div>
    </section>
    <section>
        <div class="autres_projets projets_etudiant">
            <h2>Autres projets</h2>
            <ul>
                {% for projet in arrAutresProjets %}
                    <li>
                        <a href="diplomes/fiche_projet/index.php?id={{ projet.id }}">
                            <div class="img_projet">
                                <picture>
                                    <!--<source media="" srcset="../images/projets/prj408_01-mobile.jpg 1x, ../images/projets/prj408_01-mobile@2x.jpg 2x">
                                    <source media="(min-width: 800px)" srcset="../images/projets/prj408_01-table.jpg 1x, ../images/projets/prj408_01-table@2x.jpg 2x">-->
                                    <img src="dist/images/projets/prj{{ projet.id }}_01.jpg" alt="{{ projet.titre }}">
                                </picture>
                            </div>
                            <span class="titre_projet">{{ projet.titre }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>

        </div>
    </section>
</main>
</body>

</html>