<!DOCTYPE HTML>
<html lang="fr">

<body>
<main>
    <section class="haut_page">
        <h1>{{ page | raw }}</h1>
    </section>
    <section class="texte_intro_projet">
        <div class="description">
            <h2>Description</h2>
            {{ arrInfos.description | raw }}
        </div>
        <div class="participation">
            <h2>Participation</h2>
            {{ arrInfos.participation | raw }}
        </div>
        <div class="technologies_cadre">
            <h2>Technologies</h2>
            {{ arrInfos.technologies | raw }}
            <h2>Cadre</h2>
            {{ arrInfos.cadre | raw }}
        </div>
    </section>
    <section>
        <div class="autres_projets projets_etudiant">
            <h2>Autres projets</h2>
            <ul>
                {% for projet in arrAutresProjets %}
                <li><a href="diplomes/fiche_projet?id={{ projet.id }}">{{ projet.titre }}</a></li>
                {% endfor %}
            </ul>
            
        </div>
    </section>
</main>
</body>
</html>