{# Intégration du layout de base #}
{% extends 'layout.html.twig' %}


{% block content %}
    <div class="container_page perspectives">
        <h1>PERSPECTIVES</h1>

        <h2>{{ arrTextes[1]['titre'] }}</h2>
        {{ arrTextes[1]['paragraphe'] | raw }}

        <h2>{{ arrTextes[2]['titre'] }}</h2>
        {{ arrTextes[2]['paragraphe'] | raw }}

        <img class="imgtest" src="dist/images/test_image.jpg" alt="test" />

        <h2>{{ arrTextes[0]['titre'] }}</h2>
        {{ arrTextes[0]['paragraphe'] | raw }}
    </div>
{% endblock %}

