<!DOCTYPE HTML>
<html lang="fr">
<body>
<main>
    <section class="haut_page">
        <h1>{{ page }}</h1>
    </section>
    <br />
    <p>{{ cours.no }}</p>
    <p>{{ cours.slug }}</p>
    <p>{{ cours.url }}</p>
    <p>{{ cours.duree }}</p>
    <p>{{ cours.ponderation }}</p>
    <p>{{ cours.dscr | raw }}</p>
    <p>{{ cours.specifique }}</p>
    <p>{{ cours.session }}</p>
</main>
</body>
</html>