{# Intégration du layout de base #}
{% extends 'layout.html.twig' %}


{% block content %}
    <div class="allovinny fiche-cours">
        <section class="haut_page">
            <h1>{{ page }}</h1>
            <span>{{ cours.no }}</span>
        </section>
        <br />
        <div class="row">
            {% if cours.dscr != "" %}
                <div class="col-sm-6">
                    <div class="fiche-box">
                        <h2 class="in-div">Description</h2>
                        {{ cours.dscr | raw }}

                    </div>
                </div>
            {% endif %}
            <div class="col-sm-6">
                <div class="fiche-box">
                    <h2>Informations</h2>
                    <h4>Durée: {{ cours.duree }} heures</h4>
                    <h4>Pondération: {{ cours.ponderation }}</h4>
                    <h4>Spécifications: </h4>
                    {% if cours.specifique == 1 %}
                        <p> - Ce cours est spécifique à la formation TIM.</p>
                    {% else %}
                        <p> - Ce cours fait partie de la formation générale.</p>
                    {% endif %}
                    <p> - Session: {{ cours.session }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <h2>Autres cours de l'année</h2>
            <section class="grille_cours">
                {% for i in boucle1..boucle2 %}
                    <div class="col-sm-6">
                        <table>
                            <thead>
                            <tr class="tableau-bleu">
                                <th>
                                    Session {{ i }}
                                </th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="formationS">
                                    Formation spécifique
                                </td>
                                <td class="formationS">durée</td>
                                <td class="formationS">pond.</td>
                            </tr>
                            {% for cour in grille %}
                                {% if cour.session == i and cour.specifique == 1 %}
                                    <tr>
                                        <td class="minWidthTd">
                                            <a class="lienS" href="programme/grille_cours/fiche_cours?id={{ cour.id }}">{{ cour.nom }}</a>
                                            <span>{{ cour.no }}</span>
                                        </td>
                                        <td>
                                            {{ cour.duree }}
                                        </td>
                                        <td>
                                            {{ cour.ponderation }}
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            {% if i != 6 %} <!-- changer pour la bonne condition -->
                                <tr>
                                    <td class="formationG">
                                        Formation générale
                                    </td>
                                    <td class="formationG"></td>
                                    <td class="formationG"></td>
                                </tr>
                            {% endif %}
                            {% for cour in grille %}
                                {% if cour.specifique == 0 and cour.session == i %}
                                    <tr>
                                        <td class="minWidthTd">
                                            <a class="lienG" href="programme/grille_cours/fiche_cours?id={{ cour.id }}">{{ cour.nom }}</a>
                                            <span>{{ cour.no }}</span>
                                        </td>
                                        <td>
                                            {{ cour.duree }}
                                        </td>
                                        <td>
                                            {{ cour.ponderation }}
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endfor %}
            </section>
        </div>
    </div>
{% endblock%}