{# Intégration du layout de base #}
{% extends 'layout.html.twig' %}


{% block content %}
    {% if texteErreurFiche == false %}

        <section id="infos_etudiant">
            <form enctype="multipart/form-data"
                  method="post"
                  action="index.php?id={{ arrInfos.id }}#infos_etudiant"
                  name="fInfosEtudiant">
                <h2>Informations du diplômé</h2>
                <div class="profil">
                    <h3>Profil</h3>
                    <textarea name="profil" cols="40">{{ arrInfos.profil | raw }}</textarea>
                </div>
                <div class="forces">
                    <h3>Forces</h3>
                    <textarea name="forces" cols="40">{{ arrInfos.forces | raw }}</textarea>
                </div>
                <div class="contact_etudiant">
                    <h3>Coordonnées</h3>

                    <h4>Courriel</h4>
                    <input type="text" name="courriel" value="{{ arrInfos.courriel }}"/>

                    <h4>Pseudo Twitter</h4>
                    <input type="text" name="twitter" value="{{ arrInfos.twitter }}"/>

                    <h4>LinkedIn</h4>
                    <input type="text" name="linkedin" value="{{ arrInfos.linkedin }}"/>

                    <h4>Site web</h4>
                    <input type="text" name="siteweb" value="{{ arrInfos.site_web }}"/>

                </div>
                <div class="interets_etudiant">
                    <h3>Intérêts</h3>
                    <h4>Gestion</h4>
                    <select name="interet_gestion" id="interet_gestion">
                        {% for i in 0..10 %}

                            <option value="{{ i }}"
                                    {% if i == arrInfos.interet_gestion %}
                                        selected="selected"
                                    {% endif %}
                            >{{ i }}</option>

                        {% endfor %}
                    </select>

                    <h4>Design</h4>
                    <select name="interet_design" id="interet_design">
                        {% for i in 0..10 %}

                            <option value="{{ i }}"
                                    {% if i == arrInfos.interet_design %}
                                        selected="selected"
                                    {% endif %}
                            >{{ i }}</option>

                        {% endfor %}
                    </select>

                    <h4>Traitement des médias</h4>
                    <select name="interet_traitement" id="interet_traitement">
                        {% for i in 0..10 %}

                            <option value="{{ i }}"
                                    {% if i == arrInfos.interet_traitement %}
                                        selected="selected"
                                    {% endif %}
                            >{{ i }}</option>

                        {% endfor %}
                    </select>

                    <h4>Programmation</h4>
                    <select name="interet_programmation" id="interet_programmation">
                        {% for i in 0..10 %}

                            <option value="{{ i }}"
                                    {% if i == arrInfos.interet_programmation %}
                                        selected="selected"
                                    {% endif %}
                            >{{ i }}</option>

                        {% endfor %}
                    </select>

                    <h4>Intégration</h4>
                    <select name="interet_programmation" id="interet_programmation">
                        {% for i in 0..10 %}

                            <option value="{{ i }}"
                                    {% if i == arrInfos.interet_integration %}
                                        selected="selected"
                                    {% endif %}
                            >{{ i }}</option>

                        {% endfor %}
                    </select>

                </div>
                <input type="submit" name="Submit" value="Modifier les informations"/>
            </form>
            <div id="photo_etudiant">
                <h3>Photo du diplômé</h3>
                <h4>Photo actuelle</h4>
                <img src="dist/images/diplomes/{{ arrInfos.id }}.jpg" alt="{{ arrInfos.prenom }} {{ arrInfos.nom }}">

                <h4>Nouvelle photo</h4>
                <form enctype="multipart/form-data"
                      method="post"
                      action="index.php?id={{ arrInfos.id }}#photo_etudiant"
                      name="fTeleversement">

                    <fieldset>
                        <legend>Fichier à téléverser</legend>
                        <input type="file" name="{{ name_fichier }}" value="Parcourir"/><br/>
                        <input type="submit" name="Submit" value="Téléverser"/>
                    </fieldset>

                </form>

            </div>
        </section>
        <section>
            <h2>Gestion des projets du diplômé</h2>
            {{ texteErreurProjets | raw }}
            {% if texteErreurProjets == false %}
                <ul>
                    {% for projet in arrProjets %}
                        <li>
                            {{ projet.titre }}
                            <span>
                                <a href="fiche_etudiant/fiche_projet/editer.php?id={{ projet.id }}">Éditer</a>
                            </span>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                {{ texteErreurProjet | raw }}
            {% endif %}
            <a href="fiche_etudiant/fiche_projet/ajouter.php">Ajouter un projet</a>
        </section>
    {% else %}
        {{ texteErreurFiche | raw }}
    {% endif %}

{% endblock%}