{# Intégration du layout de base #}
{% extends 'layout.html.twig' %}


{% block content %}
    <div class="editer_etudiant container_page">
        {% if texteErreurFiche == false %}

            <section id="infos_etudiant" class="col-sm-12 col-md-8">
                <form enctype="multipart/form-data"
                      method="get"
                      action="fiche-etudiant/"
                      name="fInfosEtudiant">
                    <h2>Informations du diplômé</h2>
                    <hr class="title-underline">
                    <div class="profil">
                        <label for="profil" class="h3">Profil</label>
                        <textarea name="profil" cols="40"
                                  class="col-sm-12 col-md-10">{{ arrInfos.profil | raw }}</textarea>
                    </div>
                    <div class="forces">
                        <label for="forces" class="h3">Forces</label>
                        <textarea name="forces" cols="40"
                                  class="col-sm-12 col-md-10">{{ arrInfos.forces | raw }}</textarea>
                    </div>
                    <div class="interets_etudiant">
                        <h3>Intérêts</h3>
                        <div>
                            <label for="interet_gestion">Gestion</label>
                            <select name="interet_gestion" id="interet_gestion">
                                {% for i in 0..10 %}

                                    <option value="{{ i }}"
                                            {% if i == arrInfos.interet_gestion %}
                                                selected="selected"
                                            {% endif %}
                                    >{{ i }}</option>

                                {% endfor %}
                            </select>
                        </div>


                        <div>
                            <label for="interet_design">Design</label>
                            <select name="interet_design" id="interet_design">
                                {% for i in 0..10 %}

                                    <option value="{{ i }}"
                                            {% if i == arrInfos.interet_design %}
                                                selected="selected"
                                            {% endif %}
                                    >{{ i }}</option>

                                {% endfor %}
                            </select>
                        </div>

                        <div>
                            <label for="interet_programmation">Programmation</label>
                            <select name="interet_programmation" id="interet_programmation">
                                {% for i in 0..10 %}

                                    <option value="{{ i }}"
                                            {% if i == arrInfos.interet_programmation %}
                                                selected="selected"
                                            {% endif %}
                                    >{{ i }}</option>

                                {% endfor %}
                            </select>
                        </div>

                        <div>
                            <label for="interet_integration">Intégration</label>
                            <select name="interet_integration" id="interet_integration">
                                {% for i in 0..10 %}

                                    <option value="{{ i }}"
                                            {% if i == arrInfos.interet_integration %}
                                                selected="selected"
                                            {% endif %}
                                    >{{ i }}</option>

                                {% endfor %}
                            </select>
                        </div>


                        <div>
                            <label for="interet_traitement">Traitement des médias</label>
                            <select name="interet_traitement" id="interet_traitement">
                                {% for i in 0..10 %}

                                    <option value="{{ i }}"
                                            {% if i == arrInfos.interet_traitement %}
                                                selected="selected"
                                            {% endif %}
                                    >{{ i }}</option>

                                {% endfor %}
                            </select>
                        </div>


                    </div>
                    <div class="contact_etudiant col-sm-12 col-md-5">
                        <h3>Coordonnées</h3>
                        <div>
                            <label for="courriel">Courriel</label>
                            <i class="fa fa-envelope icon" title="Courriel" aria-hidden="true"></i>
                            <input type="text" name="courriel" value="{{ arrInfos.courriel }}"/>
                        </div>

                        <div>
                            <label for="twitter">Pseudo Twitter</label>
                            <i class="fa fa-twitter icon" title="Twitter" aria-hidden="true"></i>
                            <input type="text" name="twitter" value="{{ arrInfos.twitter }}"/>
                        </div>

                        <div>
                            <label for="linkedin">LinkedIn</label>
                            <i class="fa fa-linkedin icon" title="LinkedIn" aria-hidden="true"></i>
                            <input type="text" name="linkedin" value="{{ arrInfos.linkedin }}"/>
                        </div>

                        <div>
                            <label for="siteweb">Site web</label>
                            <i class="fa fa-globe icon" title="Site web" aria-hidden="true"></i>
                            <input type="text" name="siteweb" value="{{ arrInfos.site_web }}"/>
                        </div>


                    </div>

                    <div class="col-sm-12">
                        <input type="hidden" name="id" value="{{ arrInfos.nom_usager_admin }}">
                        <button type="submit" name="submitInfosEtudiant" value="Modifier les informations"
                                class="blue-btn"/>
                        <i class="fa fa-check-circle-o i-space" aria-hidden="true"></i>
                        Modifier les informations
                        <span class="back_slant"></span>
                        </button>

                        <a href="fiche_etudiant/index.php?id={{ arrInfos.nom_usager_admin }}" value="Rétablir" class="blue-btn btn_reset">
                            <i class="fa fa-refresh i-space" aria-hidden="true"></i>
                            Rétablir
                            <span class="back_slant"></span>
                        </a>
                    </div>

                </form>
            </section>
            <section id="photo_etudiant" class="col-sm-12 col-md-4">
                <div class="photo_actuelle">
                    <h2>Photo actuelle</h2>
                    <hr class="title-underline">
                    <img src="../public/dist/images/diplomes/{{ arrInfos.id }}.png"
                         alt="{{ arrInfos.prenom }} {{ arrInfos.nom }}">
                </div>
                <div class="televersement">
                    <h3>Changer de photo</h3>
                    <form enctype="multipart/form-data"
                          method="post"
                          action="fiche_etudiant/upload.php"
                          name="fTeleversement">

                        <fieldset>
                            <label for="photoEtudiant" class="visuallyhidden focusable">Fichier à téléverser</label>

                            <input type="file" name="photoEtudiant" id="upload_img"/>

                            <input type="hidden" name="matricule" value="{{ arrInfos.nom_usager_admin }}">
                            <button type="submit" name="submitPhotosEtudiant" value="Téléverser" class="blue-btn">
                                <i class="fa fa-upload i-space" aria-hidden="true"></i>
                                Téléverser la nouvelle photo
                                <span class="back_slant"></span>
                            </button>
                        </fieldset>

                    </form>
                </div>


                <div id="nouvelle_photo">

                </div>
            </section>
            <section id="projets_diplome" class="col-sm-12 col-md-4">
                <h2>Projets du diplômé</h2>
                <hr class="title-underline">
                {{ texteErreurProjets | raw }}
                {% if texteErreurProjets == false %}
                    <ul>
                        {% for projet in arrProjets %}
                            <li>
                                {{ projet.titre }}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    {{ texteErreurProjet | raw }}
                {% endif %}
            </section>
        {% else %}
            {{ texteErreurFiche | raw }}
        {% endif %}
    </div>
{% endblock %}