<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Le programme de Techniques d’intégration multimédia est une formation vivante et actuelle! Vous aimez relever des défis et les nouvelles technologies? Ce programme est fait pour vous!">
    <meta name="keywords" content="Techniques d’intégration multimédia, TIM, intégration multimédia, multimédia, Cégep Sainte-Foy, Cégep Ste-Foy, Web, CSS, HTML, Technologies, Design, Conception, Programmation, Intégration, Traitement des médias, médias">

    <base href="{{ niveau }}"/>


    <title>{{ page }} | Section Administrative | TIM</title>
    <link rel="stylesheet" href="{{ niveauCSS }}dist/styles/main.css">
    <link rel="icon" type="image/png" href="{{ niveauCSS }}dist/images/favicon.png" />
</head>
<body>
<div class="col-sm-4 formConnexion">
    <form action="index.php" method="post" novalidate role="form">
        <h1>Connexion</h1>
        <span class="erreurGlobale">{{ strMessageErreurConnexion }}</span>
        <fieldset>
            <legend>Connectez-vous</legend>

            <p>
                <label for="nomUsager">Nom d'usager<span class="asterisque" aria-hidden="true"> *</span></label>
                <i class="fa fa-user icon" aria-hidden="true"></i>
                <input id="nomUsager" name="nomUsager" type="text"/><span class="icone"></span><br/>

            </p>

            <p>
                <label for="motDePasse">Mot de passe<span class="asterisque" aria-hidden="true"> *</span></label>
                <i class="fa fa-lock icon" aria-hidden="true"></i>
                <input id="motDePasse" class="inputMotDePasse" name="motDePasse" type="password"
                       pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" required/><span class="icone"></span><br/>

            </p>
            <button id="btnConnecter" class="btnConnecter blue-btn" name="btnConnecter" type="submit">Se connecter<span class="back_slant"></span></button>
        </fieldset>
    </form>
</div>
{# FOOTER #}
<footer class="footer_connexion">
    <div class="meta_nav">
        <p>Équipe Hooli</p>
        <p>Site produit par Jonathan Barbeau, Vincent Béland, William Charest-Pépin, Erwann Letue et Violette</p>
        <p>En cas de problème: ggaulinlaquerre@cegep-ste-foy.qc.ca</p>
        <p>© 2017, Techniques d'intégration multimédia, Cégep de Sainte-Foy.</p>
    </div>
</footer>
</body>
