{# Intégration du layout de base #}
{% extends 'layout.html.twig' %}

{% block content %}
    <section class="haut_page">
        <h1 id="contenu">{{ page }}</h1>
    </section>
    <section class="col-sm-6">
        <h2>Événements</h2>
        {% if erreurEvenements == false %}
            <section id="section_liste_evenements">
                <ul id="liste_evenements">
                    {% for arrEvenements in evenements %}
                        <li>
                            <p>{{ arrEvenements.id_actualite }} <a href="#">{{ arrEvenements.titre_actualite }}</a> {{ arrEvenements.description_actualite }}</p>
                            <button>Supprimer l'événement</button>
                            <a href="#">Éditer un événement</a>
                        </li>
                    {% endfor %}
                </ul>
            </section>
        {% endif %}
        <a href="#">Ajouter un événement</a>
    </section>
    <section class="col-sm-6">
        <h2>Fiches des diplômés</h2>
    {% if erreurDiplomes == false %}
        <section id="liste_fiche_etudiant">
            <ul id="liste_diplomes">
                {% for arrDiplomes in diplomes %}
                    <li>
                        <p class="nom">{{ arrDiplomes.prenom }} {{ arrDiplomes.nom }} <span><a href="fiche_etudiant/index.php?id={{ arrDiplomes.matricule }}">Éditer la fiche</a></span></p>
                    </li>
                {% endfor %}
            </ul>
        </section>
    {% endif %}
    </section>
{% endblock %}