{# HEAD #}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description"
          content="Le programme de Techniques d’intégration multimédia est une formation vivante et actuelle! Vous aimez relever des défis et les nouvelles technologies? Ce programme est fait pour vous!">
    <meta name="keywords"
          content="Techniques d’intégration multimédia, TIM, intégration multimédia, multimédia, Cégep Sainte-Foy, Cégep Ste-Foy, Web, CSS, HTML, Technologies, Design, Conception, Programmation, Intégration, Traitement des médias, médias">
    <base href="{{ niveau }}"/>
    <title>{{ page }} | Section Administrative | TIM</title>
    <link rel="stylesheet" href="{{ niveauCSS }}dist/styles/main.css">
</head>
{# HEADER #}
<body>
<header class="header_admin">
    <span id="logoTIM"><a href="../../public_html/csf_admin/administration.php"><img class="big_svg" id="svg_logo"
                                                                                     src="../../public_html/dist/images/tim-logo.svg"
                                                                                     alt="Logo du programme en Techniques d'intégration multimédia."><span
                    id="logo_text" class="big_text">Techniques d'intégration multimédia</span></a></span>
    <nav>
        <a href="{{ niveauCSS }}">Site public</a>
        <a href="http://www.cegep-ste-foy.qc.ca" target="_blank">Cégep Sainte-Foy</a>
        <form action="index.php" method="post" novalidate>
            <button id="btnDeconnecter" class="btnDeconnecter" name="btnDeconnecter" type="submit">Déconnexion</button>
        </form>
    </nav>
</header>
<a href="{{ arrMenuLiensActifs.PHP_SELF }}{% if arrMenuLiensActifs.QUERY_STRING != "" %}?{{ arrMenuLiensActifs.QUERY_STRING }}{% endif %}#contenu"
   class="visuallyhidden focusable">Allez au contenu</a>
<main>
    {# CONTENU DES PAGES #}
    {% block content %}{% endblock %}
</main>
{# FOOTER #}
<footer class="">
    <div class="meta_nav">
        <p>© 2017, Techniques d'intégration multimédia, Cégep de Sainte-Foy.</p>
    </div>
</footer>
{# SCRIPTS SELON PAGE #}
{% if section is defined %}
    {% if section == 'Éditer fiche étudiant' %}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
        <script src="http://malsup.github.com/jquery.form.js"></script>
        <script>
            $(document).ready(function () {
                // http://malsup.com/jquery/form/#options-object
                var options = {
                    target: '#nouvelle_photo',
                    success: function () {
                    },
                    error: function () {
                    },
                };
                $('#uploadform').ajaxForm(options);
            });
        </script>
        <script type="text/javascript" src="js/nicEdit.js"></script>
        <script type="text/javascript">
            bkLib.onDomLoaded(function () {
                nicEditors.allTextAreas()
            });
        </script>
    {% endif %}
{% endif %}
</body>
</html>