{# Intégration du layout de base #}
{% extends 'layout.html.twig' %}


{% block content %}
    <div id="hero-section">
        <div class="container">
            <div class="hero-image-center col-sm-12">


                <h1 id="h1-no-width">{{ page }}</h1>

            </div>
        </div>
    </div>
    <div class="allovinny">
        <div class="grille_cours">
            {% for i in 1..6 %}
                {% if  (i  == 1) %}
                    <h2>Première année</h2>
                {% endif %}
                {% if  (i  == 3) %}
                    <h2>Deuxième année</h2>
                {% endif %}
                {% if  (i  == 5) %}
                    <h2>Troisième année</h2>
                {% endif %}
                <div class="col-sm-6">
                    <table>
                        <thead>
                        <tr class="tableau-bleu">
                            <th>
                                Session {{ i }}
                            </th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="formationS">
                                Formation spécifique
                            </td>
                            <td class="formationS">durée</td>
                            <td class="formationS">pond.</td>
                        </tr>
                        {% for cour in cours %}
                            {% if cour.session == i and cour.specifique == 1 %}
                                <tr>
                                    <td class="minWidthTd">
                                        <a class="lienS" href="programme/grille-cours/fiche-cours/{{ cour.slug }}">{{ cour.nom }}</a>
                                        <span>{{ cour.no }}</span>
                                    </td>
                                    <td>
                                        {{ cour.duree }}
                                    </td>
                                    <td>
                                        {{ cour.ponderation }}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        {% if i != 6 %}
                            <tr>
                                <td class="formationG">
                                    Formation générale
                                </td>
                                <td class="formationG"></td>
                                <td class="formationG"></td>
                            </tr>
                        {% endif %}
                        {% for cour in cours %}
                            {% if cour.session == i and cour.specifique == 0 %}
                                <tr>
                                    <td class="minWidthTd">
                                        <a class="lienG" href="programme/grille-cours/fiche-cours/{{ cour.slug }}">{{ cour.nom }}</a>
                                        <span>{{ cour.no }}</span>
                                    </td>
                                    <td>
                                        {{ cour.duree }}
                                    </td>
                                    <td>
                                        {{ cour.ponderation }}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock%}