<div class="container">
    <main>
        <h1>Fais-tu le bon choix?</h1>
        <div class="col-sm-6">
            {% for i in 0..4 %}
                <p>{{ xml[i]['texteQuestion'] }}</p>
            {% endfor %}
        </div>
        <div class="col-sm-6">
            <form name="quiz_bon_choix" action="futur_etudiant/bon_choix" method="GET">
            {% for i in 0..4 %}
                <fieldset id="Q{{ i }}">
                    <ul class="choixReponses">
                    {% for j in 0..1 %}
                        <li>
                            <input id="Q{{ i }}{{ tId[j] }}" type="radio" name="Q{{ i }}" value="{{ xml[i]['libelleReponse'][j] }}">
                            <label for="Q{{ i }}{{ tId[j] }}">{{ xml[i]['libelleReponse'][j] }}</label>
                        </li>
                    {% endfor %}
                    </ul>
                </fieldset>
                <br /><br />
            {% endfor %}
            </form>
        </div>
    </main>
</div>