{# Intégration du layout de base #}
{% extends 'layout.html.twig' %}


{% block content %}
<div class="allovinny quiz-layout">
    <h1>Fais-tu le bon choix?</h1>
    <div class="col-md-12">
        <div class="contenuInteractif">
            <p id='progression'></p>
            <p id='retroaction'></p>
            <p id='explication'></p>
            <p id="erreurQuiz2">{{ erreur }}</p>
        </div>
    </div>
    <div class="col-md-12">
        <form name="quiz_bon_choix" action="futur_etudiant/bon_choix" method="GET">
            {% for i in 0..4 %}
                <div class="row">
                    <fieldset id="Q{{ i }}">
                        <div class="col-sm-6 back-bleu">
                            <h3 id="qProfil{{ i }}">{{ xml[i]['texteQuestion'] }}</h3>
                            <p>{{ reponses[i]['texteReponse'] }}</p>
                        </div>
                        <div class="col-sm-6 back-blanc">
                            <ul class="choixReponses">
                                {% for j in 0..1 %}
                                    <li>
                                        <input id="Q{{ i }}{{ tId[j] }}" type="radio" name="Q{{ i }}" value="{{ xml[i]['libelleReponse'][j] }}" />
                                        <label for="Q{{ i }}{{ tId[j] }}"><span class="number">{{ j + 1 }}</span>{{ xml[i]['libelleReponse'][j] }}</label>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </fieldset>
                </div>
            {% endfor %}
            <input id='validerQuiz' class="btnQuizBleu" name='validerQuiz' type="submit" value="Valider mes réponses">
        </form>
    </div>
</div>
{% endblock%}