{# Intégration du layout de base #}
{% extends 'layout.html.twig' %}


{% block content %}
    <div id="hero-section">
        <div class="container_page">
            <div class="hero-image-center col-sm-12">


                <h1 id="h1-no-width">{{ page }}</h1>

            </div>
        </div>
    </div>
    <div class="quiz-layout2 allovinny">
        <div class="row">
            <h2>Récapitulatif des résultats</h2>
        </div>
        <div class="col-md-12">
            <form name="quiz_bon_choix" action="futur_etudiant/bon_choix" method="GET">
                {% for i in 0..4 %}
                    <div class="row">
                        <fieldset id="Q{{ i }}">
                            <div class="col-sm-6 back-bleu">
                                <h3 id="qProfil{{ i }}">{{ xml[i]['texteQuestion'] }}</h3>
                            </div>
                            <div class="col-sm-6 back-blanc">
                                <ul class="choixReponses">
                                    {% for j in 0..1 %}
                                        <li>
                                            <input id="Q{{ i }}{{ tId[j] }}" type="radio" name="Q{{ i }}" value="{{ xml[i]['libelleReponse'][j] }}" {% if (reponses[i]['libelleReponse'] == xml[i]['libelleReponse'][j]) %}checked="checked"{% endif %}>
                                            <label for="Q{{ i }}{{ tId[j] }}">{{ xml[i]['libelleReponse'][j] }}</label>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </fieldset>
                        <p style="max-width: 680px; float: right">{{ reponses[i]['texteReponse'] }}</p>
                    </div>
                    <br /><br />
                {% endfor %}
            </form>
        </div>
    </div>
{% endblock%}