{# Intégration du layout de base #}
{% extends 'layout.html.twig' %}


{% block content %}
    <div id="hero-section">
        <div class="container_page">
            <div class="hero-image-center col-sm-12">
            
                <h1 id="h1-no-width">{{ page }}</h1>

            </div>
        </div>
    </div>
    <div class="container futur_etudiant">
    <div >
        <div class="formationVivante">
            {% for valeur in arrTexteFormationVivante %}
                <h2>{{ valeur['titre'] }}</h2>
                <hr class="title-underline">
                {{ valeur['paragraphe'] | raw }}
            {% endfor %}
        </div>
        </div>
        <img class="imgtest" src="dist/images/etudiants.jpg" alt="Des étudiants concentrés" />

        <div class="col-sm-6 prealables">
            {% for valeur in arrTextePrealables %}
                <h2>{{ valeur['titre'] }}</h2>
                <hr class="title-underline">
                {{ valeur['paragraphe'] | raw }}
            {% endfor %}
        </div>

        <div class="col-sm-6 processus">
            {% for valeur in arrTexteProcessus %}
                <h2>{{ valeur['titre'] }}</h2>
                <hr class="title-underline">
                {{ valeur['paragraphe'] | raw }}
            {% endfor %}
        </div>

        <img class="imgtest" src="dist/images/eleve.jpg" alt="Une salle de classe" />


        <div class="etudiantUnJour">

            <div class="col-sm-6 contact_benoit">
                {% for valeur in arrTexteEtudiantUnJour %}
                    <h2 class="h2Benoit">{{ valeur['titre'] }}</h2>
                    <hr class="title-underline">
                    {{ valeur['paragraphe'] | raw }}
                {% endfor %}
            </div>
            <div class=" col-sm-6 image_benoit">
                <img src="dist/images/benoit-frigon.png" alt="Benoît Frigon"/>
            </div>
            
    </div>
<div class="sectionQuiz">
            <div class="col-sm-6 profil_quiz">
                <h3>As-tu le profil?</h3>
                <hr class="title-underline">
                <p>10 questions pour savoir si vous possédez les habiletés nécessaires au travail d’intégrateur multimédia.</p>
                <a href="futur_etudiant/index.php#processusAdmission" class="blue-btn">Passer le test<span class="back_slant"></span></a>
            </div>
        <div class="col-sm-6 choix_quiz">
                <h3>Faites-vous le bon choix?</h3>
                <hr class="title-underline">
                <p>5 questions pour savoir si vous connaissez bien la formation offerte dans le programme Techniques d’intégration multimédia.</p>
                <a href="http://www.cimmi.ca/" class="blue-btn" target="_blank">Passer le test<span class="back_slant"></span></a>
        </div>
</div>
    </div>


{% endblock %}
